*{
    margin: 0px;
    padding: 0px;
}
#main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.form-tagline.mt-2 {
    margin-left: 17%;
}

.footer-form {
    background-color: white;
    text-align: initial;
    
}
#username {
    width: 90%;
    height: 50px;
    padding-left: 10px;
}
#password {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    
}
.login{
    width: 500px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
}
input[type="submit"] {
    margin-top: 50px;
    background-color: #AD172B;
    color: white;
    border: none;
    padding: 10px;
    width: 93%;
    margin-left: 20px;
}